@import '~@angular/material/theming';
// Plus imports for other components in your root.
@include mat-core();

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
//$custom-typography: mat-typography-config(
//  $font-family: 'Roboto, sans-serif'
//  //$headline: mat-typography-level(32px, 48px, 700),
//  //$body-1: mat-typography-level(16px, 24px, 500)
//);

//@include mat-core($custom-typography);
//@include mat-overridable-elevation(2);

$ascendant-app-accent: mat-palette($mat-orange, A200, A100, A400);
$ascendant-app-primary: mat-palette($mat-blue, 800);
$ascendant-app-warn: mat-palette($mat-red);

$ascendant-app-theme: mat-light-theme(
  $ascendant-app-primary,
  $ascendant-app-accent,
  $ascendant-app-warn
);

@include angular-material-theme($ascendant-app-theme);
